<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <header
      class="d-flex bg-light border-bottom py-3 px-4 align-items-center justify-content-end d-md-none"
    >
      <div class="d-sm-none">
        <a
          class="btn btn-outline-primary"
          data-bs-toggle="offcanvas"
          href="#offcanvas-nav"
        >
          <i class="bi bi-list"></i>
        </a>
      </div>
    </header>

    <style>
      @media screen and (min-width: 768px) {
        .main-menu {
          width: 280px;
        }
      }

      .main-menu .nav-link {
        transition:
          background-color 0.2s ease,
          color 0.2s ease;
      }

      .main-menu .nav:hover .nav-link.active {
        background-color: transparent !important;
        color: white !important;
      }

      .main-menu .nav .nav-link:hover,
      .main-menu .nav:hover .nav-link.active:hover {
        background-color: #0d6efd !important;
        color: white !important;
      }
    </style>

    <!-- Menu -->
    <div class="d-flex">
      <div
        class="offcanvas-md offcanvas-start bg-darkv vh-100 bg-dark d-flex flex-column"
        id="offcanvas-nav"
      >
        <div id="logo" class="pt-3">
          <a href="#">
            <img
              src="/images/ObraControl.png"
              alt="Logo"
              height="auto"
              width="150px"
              class="d-block mx-auto"
            />
          </a>
        </div>

        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="staticBackdropLabel">
            Menu Principal
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            data-bs-target="#offcanvas-nav"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body flex-grow-1 align-items-start">
          <nav class="p-sm-3 text-white main-menu w-100">
            <ul class="nav nav-pills d-flex flex-column">
              <li class="nav-item">
                <a href="/home" class="nav-link active">
                  <i class="bi bi-house-door me-2"></i>
                  <span>Página Inicial</span>
                </a>
              </li>

              <li>
                <a href="/cadastro-obra" class="nav-link text-white">
                  <i class="bi bi-building me-2"></i>
                  <span>Cadastro de Obras</span>
                </a>
              </li>

              <li>
                <a href="/apartamento" class="nav-link text-white">
                  <i class="bi bi-door-open me-2"></i>
                  <span>Cadastro de Apartamento</span>
                </a>
              </li>

              <li>
                <a href="/checklist-apartamento" class="nav-link text-white">
                  <i class="bi bi-list-check me-2"></i>
                  <span>Checklist de Portas</span>
                </a>
              </li>

              <li>
                <a href="/cadastrar-instalador" class="nav-link text-white">
                  <i class="bi bi-person-gear me-2"></i>
                  <span>Cadastro de Instalador</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="mt-auto p-3 border-top border-secondary dropdown">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle fs-4 me-2"></i>
            <strong>Usuário</strong>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser"
          >
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </div>
      </div>

      <!-- Main -->
      <main class="p-4 w-100" layout:fragment="content"></main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
