<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Obra</title>
  </head>

  <body>
    <h1>Obra</h1>

    <form action="/cadastro-obra" method="post">
      <div>
        <label>Obra</label>
        <input type="text" name="login" />
      </div>

      <br />

      <div>
        <label>Endereço</label>
        <input type="text" name="endereço" />
      </div>

      <br />

      <button type="submit">Cadastrar Obra</button>
      <br /><br />

      <button type="/">Home</button>
    </form>
  </body>
</html>
