<!doctype html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Prestador de Serviços</title>
  </head>

  <body>
    <section layout:fragment="content">
      <div class="d-flex justify-content-between">
        <h1>Cadastro de Instalador</h1>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal_instalador"
        >
          Novo instalador
        </button>
      </div>

      <table class="table" id="table_instaladores">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <!-- Modal -->
      <div class="modal" tabindex="-1" id="modal_instalador">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/instalador/salvar" method="post">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="nome" class="form-label">Nome:</label>
                  <input
                    type="text"
                    name="nome"
                    id="nome"
                    class="form-control"
                  />
                </div>
                <div class="mb-3">
                  <label for="telefone" class="form-label">Telefone:</label>
                  <input
                    type="text"
                    name="telefone"
                    id="telefone"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Cadastrar Instalador
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="/instalador.js"></script>
    </section>
  </body>
</html>
