<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Prestador de Serviços</title>
  </head>

  <body>
    <h1>Cadastro de Prestador de Serviços</h1>

    <form action="/prestadores/salvar" method="post">
      <div>
        <label>Nome:</label>
        <input type="text" name="nome" />
      </div>

      <br />

      <div>
        <label>Telefone:</label>
        <input type="text" name="telefone" />
      </div>

      <br />

      <button type="submit">Cadastrar Prestador</button>

      <br /><br />

      <button type="/">Home</button>
    </form>
  </body>
</html>
