<!doctype html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de Prestador de Serviços</title>
  </head>

  <body>
    <section layout:fragment="content">
      <h1>Cadastro de Instalador</h1>

      <form action="/instalador/salvar" method="post">
        <div>
          <label>Nome:</label>
          <input type="text" name="nome" />
        </div>

        <br />

        <div>
          <label>Telefone:</label>
          <input type="text" name="telefone" />
        </div>

        <br />

        <button type="submit">Cadastrar Instalador</button>

        <br /><br />
      </form>
    </section>
  </body>
</html>
