<!doctype html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Obra Control</title>
  </head>

  <body>
    <section layout:fragment="content">
      <header>
        <h2>Obra Control</h2>
      </header>

      <nav>
        <a href="/">Home</a>
        <a href="/cadastro-obra">Obra</a>
        <a href="/cadastrar-prestador">Prestador</a>
        <a href="/apartamento">Apartamento</a>
      </nav>
    </section>
  </body>
</html>
