<!doctype html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}"
>
  <head>
    <meta charset="UTF-8" />

    <title>Gerenciamento de Obras</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1>Gerenciamento de Obras</h1>

      <br />

      <form action="/form-obras">
        <div>
          <label>Nome da Obra</label>
          <input type="text" name="nomeDaObra" required />
        </div>

        <br />

        <div>
          <label>Cidade</label>
          <input type="text" name="Cidade" />
        </div>

        <br />

        <div>
          <label>Quantidade de apartamentos por andar</label>
          <input type="number" name="apsAndar" min="1" required />
        </div>

        <br />

        <div>
          <label>Numeração do primeiro andar</label>
          <input type="number" name="andarInicial" min="1" required />
        </div>

        <br />

        <div>
          <label>Numeração do último andar</label>
          <input type="number" name="andarFinal" />
        </div>

        <br />

        <div>
          <label>Numeração do Primeiro Andar</label>
          <input type="number" name="numPrimeiroAndar" min="1" required />
        </div>

        <br />

        <!--USAR A INFORMAÇÃO DO PRIMEIRO,ULTIMO  E NUMERAÇÃO DO PRIMEIRO ANDAR PARA GERAR OS APS DE FORMA AUTOMATICA COM OS DADOS INFORMADOS. -->
        <div>
          <button type="submit">Criar</button>
        </div>
      </form>
    </section>
  </body>
</html>
